body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #042630;
}

.login-container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

.login-field {
    width: 220px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.login-title{
    position: absolute;
    top: 10px;
}

.login-title h5{
    margin:auto;
}

.login-foot{
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.login-foot span {
    margin: 0 80px;
    white-space: nowrap;
}

.login-foot span a {
    text-decoration: none;
    color: blue;
}



.login-field button {
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(120, 59%, 53%);
    color: white;
}

.login-field button:hover {
    background-color: hsl(120, 59%, 33%);
}

/***********************************************
    Navbar
************************************************/

.nav-container {
    display: flex;
    border: 1px solid black;
    height: 100vh;
    width: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #041421;
    margin-right: 30px;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    border-top-right-radius: 5px;
    flex-direction: column;
}

.nav-container h3{
    color: #d0d6d6;
}

.user-profile {
    width: 150px;
    height: 150px;
    margin: 0px 100px auto;
    justify-content: center;
}

.user-profile img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100px;
}

.link-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px auto;
    width: 150px;
}

.link {
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

.box {
    height: 60px;
    width: 60px;
    margin: 20px auto;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.box .box-icon {
    position: relative;
    top: calc(50% - 20px);
}

.box-icon:hover{
    transform: scale(1.2);
}


/***********************************************
    Application Details
************************************************/

.application-details-container {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #d0d6d6;
    position: absolute;
    left: 300px;
    bottom: 500px;
    top: 20px;
    width: 500px;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.app-detail-btn-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40px;
    top: 0px;
    height: 175px;
    right: -45px;
}

.app-detail-btn {
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.app-detail-btn-icon {
    position: relative;
    width: 25px;
    height: 25px;
    top: calc(50% - 12px);
    color: #86b9b0;
}

.app-detail-btn-icon:hover {
    transform: scale(1.2);
}

.prompt-container {
    position: relative;
    width: 300px;
    height: 150px;
    background-color: white;
    top: 30%;
    left: 40%;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1;
}

.prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65); /* Semi-transparent background */
    z-index: 1; /* Lower than the container */
}

/* #eye {
    color: white;
}

#pen {
    color: yellow;
}

#check{
    color: green;
}

#trash{
    color: red;
} */

.logo-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

.logo-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 60px;
}


/***********************************************
    application card
************************************************/

/* .appcard-row {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rbga(0, 0, 0, 0.1);
    background-color: hsl(0, 0%, 83%);
    white-space: nowrap;
}

.appcard-row:hover{
    background-color: hsl(0, 0%, 63%);
} */

/***********************************************
    application table
************************************************/
.apptable-container{
    position: fixed;
    right: 20px;
    width: 80%;
    bottom: 50px;
    height: 62%;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.apptable-container table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}


.apptable-container th, .apptable-container td{
    padding: 8px;
    /* border: 1px solid #042630; */
    background-color: #d0d6d6;
    text-align: left;
    text-overflow: ellipsis;
}

.login-container th{
    position: sticky;
    top: 0;
    z-index: 1;
}

.apptable-container th{
    color: #d0d6d6;
    background-color: #4c7273;
}

.apptable-container th:hover{
    background-color: hsl(182, 20%, 27%);
}

.apptable-container .table-row:nth-child(even) td{
    background-color: #86b9b0;
}

.apptable-container .table-row:hover td{
    background-color: #4c7273;
}

.apptable-body{
    max-height: 400px;
    overflow-y: auto;
}

/* .apptable-body table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
} */

.apptable-body td{
    white-space: nowrap;
}

.paginate-btns {
    position: absolute;
    bottom: 10px;
}


.search-container {
    display: inline-flex;
    position: absolute;
    top: 170px;
    right: 100px;
    height: 35px;
}

#search-text-field {
    padding: 0;
    width: 300px;
    height: 100%;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 0;
}

#search-btn{
    width: 35px;
    height: 100%;
    border-radius: 5px;
    background-color: #041421;
}

.logout-btn-container {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 150px;
}

#logout-btn-icon:hover {
    transform: scale(1.2);
}

.create-application-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 220px;
    background-color: hsl(120, 57%, 57%);
    border-radius: 5px;
    text-align: center;
}
#create-app-icon {
    position: relative;
    top: calc(50% - 12px);
}

.create-application-btn:hover {
    background-color: hsl(120, 43%, 38%);
}

.create-application-field-container {
    position: relative;
    width: 600px;
    height: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow:0 0 0 1600px rgba(0,0,0,0.65);/* dark around it */
    z-index: 1;
}

.exit-application-field-btn {
    position: absolute;
    border-radius: 30px;
    background-color: red;
    width: 40px;
    height: 40px;
    z-index: 1;

    top: -45px;
    right: -45px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65); /* Semi-transparent background */
    z-index: 1; /* Lower than the container */
}

//////////////////////////////////////////////////////////////////
//  future table refactor for different column widths
/////////////////////////////////////////////////////////////////
/* table tr td {
    padding:0;  
  }
  table tr td:nth-child(1) {
    width:100px;
  }
  table tr td:nth-child(2) {
    width:200px;
  }
  table tr td:nth-child(3) {
    width:300px;
  } */